<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>
  <p>
    <strong>Descrição:</strong>
    <%= category.description %>
  </p>
  <p>
    <strong>Preço:</strong>
    <%= category.price %>
  </p>
  <p>
    <strong>Ativo:</strong>
    <%= category.publish %>
  </p>
</div>
